<% provide(:title, "Edit course") %>
<h1>Update your Course</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@course) do |f| %>
      <%= render 'shared/course_error_messages' %>

      <%= f.label :course_name %>
      <%= f.text_field :course_name %>

      <%= f.label :course_number %>
      <%= f.text_field :course_number %>

      <%= f.label :section_number %>
      <%= f.text_field :section_number %>

      <%= f.label :enrollment_code, "Code for student enrollment" %>
      <%= f.text_field :enrollment_code %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>