<% provide(:title, 'Create New Course') %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@course) do |f| %>
    <%= render 'shared/course_error_messages' %>
      <%= f.label :course_name %>
      <%= f.text_field :course_name %>

      <%= f.label :course_number %>
      <%= f.text_field :course_number %>

      <%= f.label :section_number %>
      <%= f.text_field :section_number %>

      <%= f.label :enrollment_code, "Code for student enrollment" %>
      <%= f.text_field :enrollment_code %>

      <div class='centered'>
        <%= f.submit "Create course", class: "bn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>