<% provide(:title, "Quiz List") %>
<% if current_user.id == @course.teacher.user.id %>
  <%= link_to "Edit Course", "/courses/#{@course.id}/edit", class: "btn btn-large float-right" %>
  <%= link_to "Add Quiz", "/quizzes/new/#{@course.id}", class: "btn btn-large btn-success" %>
<% end %>
<h1>Quiz List</h1>
<table id='quizList' class="display compact">
  <thead>
    <tr>
      <td><b>Title</b></td>
      <td><b>Start Time</b></td>
      <td><b>End Time</b></td>
      <% if current_user.id == @course.teacher.user.id %>
        <td><b>Manual Start</b></td>
      <% elsif current_user.account.class == Student %>
        <td><b>Availability</b></td>
      <% end %>
    </tr>
  </thead>
</table>

<%= javascript_tag do %>
  $(document).ready( function () {
    $('#quizList').DataTable({
      <% data = [] %>
      <% @course.quizzes.each do |quiz| %>
        <% pair = {} %>
        <% pair[:title] = quiz.title %>
        <% pair[:start_time] = quiz.start_time %>
        <% pair[:end_time] = quiz.end_time %>
        <% pair[:course_id] = quiz.course_id %>
        <% container = ResponseContainer.where(student_id: current_user.account.id, quiz_id: quiz.id).first %>
        <% pair[:container_id] = container.id if container %>
        <% pair[:id] = quiz.id %>
        <% data.push(pair) %>
      <% end %>
      data: <%= data.to_json.html_safe %>,
      columns: [{data: 'title'}, {data: 'start_time'}, {data: 'end_time'}
      <% if current_user.id == @course.teacher.user.id || current_user.account.class == Student %>
        ,{data: 'title'}
      <% end %>
      ],
      fnRowCallback: function( nRow, aData, iDisplayIndex ) {
        <% Time.zone = "America/New_York" %>
        var now = new Date("<%= Time.zone.utc_to_local(DateTime.now) %>");
        var start = new Date(aData.start_time);
        var end = new Date(aData.end_time);
        <% if current_user.id == @course.teacher.user.id %>
          $('td:eq(0)', nRow).html('<a href="/quizzes/' + aData.id + '/show">' + aData.title + '</a>');
          if(start > now || end < now){
            $('td:eq(3)', nRow).html('<a class="btn btn-success btn-small" href="/quizzes/'+ aData.id +'/start">Start</a>');
          }
          else{
            $('td:eq(3)', nRow).html('<a class="btn btn-danger btn-small" href="/quizzes/'+ aData.id +'/end">End</a>');
          }
        <% elsif current_user.account.class == Student %>
          if(aData.container_id > 0){
            $('td:eq(0)', nRow).html('<a href="/response_containers/' + aData.container_id + '/show">' + aData.title + '</a>');
          }
          if(start < now && end > now){
            $('td:eq(3)', nRow).html('<a class="btn btn-success btn-small" href="/quizzes/'+ aData.id +'/take">Take</a>');
          }
          else{
            $('td:eq(3)', nRow).html('<div class="btn btn-info btn-small disabled">Not Available</div>');
          }
        <% end %>
      }
    });
  });
<% end %>
