<% provide(:title, 'Enroll in Course') %>
<h1>Enroll in Course</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@student_course_pairing) do |f| %>
      <%= f.label :enrollment_code, "Enrollment Code" %>
      <%= f.text_field :enrollment_code %>
      <%= hidden_field_tag 'course_id', params[:course_id] %>
      <div class='centered'>
        <%= f.submit "Enroll", class: "bn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>