<% provide(:title, 'Create New Quiz') %>
<h1>Create New Quiz</h1>
<div class="row">
  <div class="span6 offset3">
    <%= simple_nested_form_for(@quiz) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :start_time %>
      <%= f.datetime_local_field :start_time, min: DateTime.now %> 

      <%= f.label :end_time %>
      <%= f.datetime_local_field :end_time, min: DateTime.now %>
      <%= hidden_field_tag 'course_id', params[:course_id] %>
      
      <%= render 'question_panel', f: f %>
      <div class='centered'>
        <%= f.submit "Create quiz", class: "btn btn-large btn-success options-complete" %>
      </div>
    <% end %>
  </div>
</div>