<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :account_type, "Account Type" %>
      <table>
        <% User.account_types.keys.each do |type| %>
          <tr>
            <td class='option_button'><%= f.radio_button :account_type, type %></td>
            <td><%= f.label "#{type}" %></td>
          </tr>
        <% end %>
      </table>
      <table>
        <tr>
          <td><%= f.label :sub, 'Disable ads?' %></td>
          <td class='option_button'><%= f.check_box :sub %></td>
        </tr>
      </table>
      </br>
      <div class='centered'>
        <%= f.submit "Create my account", class: "bn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
