<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <selection>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      </br>
    </selection>
  </aside>
</div>
<table id='courseList' class="display compact">
  <thead>
    <tr>
      <td><b>Course Name</b></td>
      <td><b>Course Number</b></td>
    </tr>
  </thead>
</table>

<%= javascript_tag do %>
  $(document).ready( function () {
    $('#courseList').DataTable({
        data: <%= @user.account.courses.select("course_name, course_number").to_json.html_safe %>,
        columns: [{data: 'course_name'}, {data: 'course_number'}]
      });
    });
<% end %>

<%= link_to %>